* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfbf7;
  color: #2c2c2c;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
